<%=render "shared/end-user-nav-bar"%>
<section>
  <div class="mainwrapper">
    <%=render "shared/end-user-left-panel"%>
      <div class="mainpanel">
        <div class="contentpanel" style="background: #f3f3f4;">
          <div class="middle-box text-center loginscreen animated fadeInDown">
            <div>
                <h3>Register To Panhara Online Shop</h3>
                <p>Create account to see it in action.</p>
                <%= form_tag session_customer_path,:class=>"m-t" do %>
                  <div class="form-group">
                      <%= label_tag :login, "Username or Email Address"%>
                      <%= text_field_tag :login, params[:login],:class=>"form-control" %>
                  </div><!-- /.field-row -->

                  <div class="form-group">
                      <%= label_tag :password %>
                      <%=  password_field_tag :password, nil,:class=>"form-control"%>
                  </div><!-- /.field-row -->


                  <%=submit_tag "Log In", :class=>"btn btn-primary block full-width m-b"%>
                  <p class="text-muted text-center"><small>Don't Have An Account!</small></p>
                  <%=link_to "Sign Up", signup_path, :class=>"btn btn-sm btn-white btn-block"%>
                <% end %>
          </div>
        </div>
      </div><!-- contentpanel -->

      <%=render "shared/end-user-footer"%>
    </div><!-- mainpanel -->
  </div><!-- mainwrapper -->
</section>
