<%=render "shared/end-user-nav-bar"%>
<section>
  <div class="mainwrapper">
    <%=render "shared/end-user-left-panel"%>
      <div class="mainpanel">
        <div class="contentpanel" style="background: #f3f3f4;">
          <div class="middle-box text-center loginscreen animated fadeInDown">
            <div>

              <% if flash[:notice] -%>
                <div class="alert alert-danger alert-dismissable">
                  <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                  <a class="alert-link" href="#"><%= flash[:notice] %></a>.
                </div>
              <% end %>
                <%= form_for @customer,:class=>"m-t" do |f| %>
                  <%if f.error_messages %>
                    <div class="alert alert-danger alert-dismissable">
                      <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                      <a class="alert-link" href="#"><%= f.error_messages %></a>.
                    </div>
                  <%else%>

                  <%end%>
                  <h3>Register To Panhara Online Shop</h3>
                  <p>Create account to see it in action.</p>
                  <div class="form-group">
                      <%= f.label :username %>
                      <%= f.text_field :username,:class=>"form-control" %>
                  </div><!-- /.field-row -->

                  <div class="form-group">
                      <%= f.label :email %>
                      <%= f.text_field :email,:class=>"form-control" %>
                  </div><!-- /.field-row -->

                  <div class="form-group">
                      <%= f.label :password %>
                      <%= f.password_field :password,:class=>"form-control"%>
                  </div><!-- /.field-row -->

                  <div class="form-group">
                    <%= f.label :password_confirmation, "Confirm Password" %>
                    <%= f.password_field :password_confirmation,:class=>"form-control" %>
                  </div><!-- /.field-row -->

                  <div class="form-group">
                    <div class="checkbox i-checks"><label> <input type="checkbox"><i></i> Agree the terms and policy </label></div>
                  </div>

                  <%=f.submit "Register", :class=>"btn btn-primary block full-width m-b"%>
                  <p class="text-muted text-center"><small>Already have an account?</small></p>
                  <%=link_to "Login", login_path, :class=>"btn btn-sm btn-white btn-block"%>
            <% end %>
          </div>

        </div>
      </div><!-- contentpanel -->

      <%=render "shared/end-user-footer"%>
    </div><!-- mainpanel -->
  </div><!-- mainwrapper -->
</section>
