<div class="leftpanel">
  <br><br><br>
  <ul class="nav nav-pills nav-stacked">
    <li class="active"><a href="/"><i class="fa fa-home"></i> <span>Home</span></a></li>

    <li class="parent"><a href="#"><i class="fa fa-edit"></i> <span>About Me</span></a></li>

    <li class="parent"><a href="#"><i class="fa fa-edit"></i> <span>Contact Me</span></a></li>



  </ul>
</div><!-- leftpanel -->
