<header>
  <div class="headerwrapper">
    <div class="header-left">
      <a href="/" class="logo">
        <h4 class="admin-logo"><img class="logo-img" src="/logo.png" alt=""> Panha Online </h4>

      </a>

      <div class="pull-right">
        <a href="#" class="menu-collapse">
          <i class="fa fa-bars"></i>
        </a>
      </div>
    </div><!-- header-left -->

    <div class="header-right">
      <div class="pull-right">
        <!-- <form class="form form-search" action="http://www.ravijaiswal.com/Moldavite/search-results.html">
          <input type="search" class="form-control" placeholder="Search" />
        </form> -->
        <div class="btn-group btn-group-option">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
          </ul>
            <%if logged_in?%>
              <%if current_customer.image.blank?%>
                  <img class="img-circle avatar-img" alt="" src="/profile.png">
                  <span class="username">Welcome <%=current_customer.username%>!</span>
                <%else%>
                  <img class="img-circle avatar-img" alt="" src="<%=current_customer.image%>">
                  <span class="username">Welcome <%=current_customer.username%>!</span>
              <%end%>
              <%else%>
            <%end%>
        		<i class="fa fa-caret-down"></i>
          </button>
          <ul class="dropdown-menu pull-right" role="menu">
            <% if logged_in? %>
                <li>
                  <%= link_to edit_customer_info_path(current_customer) do %>
                    <i class="glyphicon glyphicon-pencil"></i>
                    Edit Profile
                  <%end%>
                </li>

                <li>
                  <%= link_to customer_info_path(current_customer) do %>
                    <i class="glyphicon glyphicon-pencil"></i>
                    Info
                  <%end%>
                </li>

                <li>
                  <%= link_to logout_path do %>
                  <i class="glyphicon glyphicon-log-out"></i>
                  Sign Out
                  <%end%>
                </li>
            <% else %>
              <li><%= link_to "Sign up", signup_path %></li>
              <li><%= link_to "Log in", login_path %></li>
            <% end %>
          </ul>
        </div><!-- btn-group -->
      </div><!-- pull-right -->
    </div><!-- header-right -->
  </div><!-- headerwrapper -->
</header>
