<div class="leftpanel">
  <div class="media profile-left">
    <%if user_signed_in?%>
      <%=link_to users_path,:class=>"pull-left profile-thumb" do%>
      <%if current_user.image.blank?%>
        <img class="img-circle" src="/profile.png" alt="">
      <%else%>
        <img class="img-circle" src="<%=current_user.image%>" alt="">
      <%end%>
    <%end%>

    <div class="media-body">

      <h4 class="media-heading"><%=current_user.username%></h4>
        <span class="user-options">
          <%=link_to users_path do%>
            <i class="glyphicon glyphicon-user"></i>
          <%end%>
          <%=link_to edit_user_registration_path do%>
            <i class="glyphicon glyphicon-cog"></i>
          <%end%>
          <%=link_to destroy_user_session_path do%>
            <i class="glyphicon glyphicon-log-out"></i>
          <%end%>

        </span>
    </div>
    <%end%>

  </div><!-- media -->


  <ul class="nav nav-pills nav-stacked">
    <li class="active"><a href="/admin"><i class="fa fa-home"></i> <span>Dashboard</span></a></li>
    <li class="parent">
      <a href="#">
        <i class="fa fa-suitcase"></i>
        <span>Product</span>
      </a>

      <ul class="children">
        <%if current_user.try(:admin?)%>
          <li>
            <%=link_to "Add Product", new_product_path%>
          </li>
          <li>
            <%=link_to "Product List", products_path%>
          </li>

        <%else%>
          <li>
            <%=link_to "Product List", products_path%>
          </li>
        <%end%>

      </ul>
    </li>

    <li class="parent"><a href="#"><i class="fa fa-edit"></i> <span>Category</span></a>
      <ul class="children">
        <%if current_user.try(:admin?)%>
          <li>
            <%=link_to "Add Category", new_category_path%>
          </li>
          <li>
            <%=link_to "Category List", categories_path%>
          </li>

        <%else%>
          <li>
            <%=link_to "Product List", categories_path%>
          </li>
        <%end%>

      </ul>
    </li>

    <li class="parent"><a href="#"><i class="fa fa-file-text"></i> <span>Order</span></a>
      <ul class="children">
        <li><%=link_to "Order List", orders_path%></li>

      </ul>
    </li>

    <li class="parent"><a href="#"><i class="fa fa-file-text"></i> <span>Customer</span></a>
      <ul class="children">
        <li><%=link_to "Customer List", customers_path%></li>

      </ul>
    </li>


    <li class="parent"><a href="#"><i class="fa fa-file-text"></i> <span>Report</span></a>
      <ul class="children">
        <li><%=link_to "Report", "#"%></li>

      </ul>
    </li>
  </ul>
</div><!-- leftpanel -->
