<%=render "shared/end-user-nav-bar"%>
<section>
  <div class="mainwrapper">
    <%=render "shared/end-user-left-panel"%>
      <div class="mainpanel">
        <div class="contentpanel">
          <div class="wrapper wrapper-content animated fadeInRight">
            <div class="row">
                <div class="col-md-8">
                  <div class="ibox float-e-margins">
                    <div class="ibox-title">
                      <h5>Order History</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="close-link">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>

                        <div class="ibox-content">
                            <table class="table table-hover no-margins">
                                <thead>
                                <tr>
                                  <%@fields.each do |f|%>
                                    <th><%=f%></th>
                                  <%end%>
                                </tr>
                                </thead>
                                <tbody>

                                <%@lineitems.each do |item|%>
                                  <tr>
                                    <td><%=item.product.product_name%></td>
                                    <%if item.order.state == "complete"%>
                                      <td><span class="label label-primary"><%=item.order.state%></span></td>
                                    <%else%>
                                    <%end%>
                                    <td><%=item.order.checked_out_at%></td>
                                    <%if item.order.state == "complete"%>
                                      <td><%=number_to_currency(item.price)%></td>
                                    <%else%>
                                      <td><%=number_to_currency(0.0)%></td>
                                  </tr>
                                  <%end%>
                                <%end%>
                                </tbody>
                                <tr>
                                  <%if @order.state == "complete"%>
                                    <td> <strong>Total: </strong> <%=number_to_currency(@order.total_price)%></td>
                                  <%else%>
                                    <td><%=number_to_currency(total_price_zero(0))%></td>
                                  <%end%>
                                </tr>
                            </table>
                        </div>

                    </div>
                </div>

                <div class="col-md-4">
                  <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Who Buy Your Product?</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="close-link">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>

                    <div class="ibox-content">
                        <ul class="todo-list m-t small-list">
                          <h5>Username</h5>
                          <li><%=@cust.username%></li>
                          <h5>E-mail</h5>
                          <li><%=@cust.email%></li>
                          <h5>Created At</h5>
                          <li><%=@cust.created_at%></li>
                          <%= link_to edit_product_path, :class => 'btn btn-primary btn-sm',:rel=>"tooltip",:title=>"Edit",:style=>"margin-right:10px;" do %>
                            <i class="fa fa-pencil" style="font-size: 15px;"></i> Edit Product
                          <% end %>

                          <%= link_to @product,method: :delete,data: {confirm: "Are You Sure?"}, :class => 'btn btn-danger btn-sm',:rel=>"tooltip",:title=>"Delete" do %>
                            <i class="fa fa-trash-o" style="font-size: 15px;"></i> Delete
                          <% end %>
                        </ul>
                    </div>
                    </div>
                </div>
            </div>
        </div>
      </div><!-- contentpanel -->
    <%=render "shared/footer"%>
    </div><!-- mainpanel -->
  </div><!-- mainwrapper -->
</section>
