<%=render "shared/navbar"%>
<section>
  <div class="mainwrapper">
    <%=render "shared/left-panel"%>
      <div class="mainpanel">
        <div class="contentpanel">
          <div class="wrapper wrapper-content animated fadeInRight">
            <div class="row">
                <div class="col-md-8">
                  <div class="ibox float-e-margins">
                    <div class="ibox-title">
                      <h5>Order History</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="close-link">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>

                        <div class="ibox-content">
                            <table class="table table-hover no-margins">
                                <thead>
                                <tr>
                                  <%@fields.each do |f|%>
                                    <th><%=f%></th>
                                  <%end%>
                                </tr>
                                </thead>
                                <tbody>

                                <%@orders.each do |order|%>
                                  <tr>
                                      <%if order.state == "complete"%>
                                        <td><%=link_to order.id, order_path(order)%></td>
                                        <td><span  class="label label-primary"><%=order.state%></td>
                                        <td><%=order.checked_out_at%></td>
                                        <td><%=number_to_currency(order.total_price)%></td>
                                      <%else%>
                                      <%end%>
                                  </tr>
                                <%end%>
                                </tbody>
                                <tr>

                                </tr>
                            </table>
                        </div>

                    </div>
                </div>

                <div class="col-md-4">
                  <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Who Buy Your Product?</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="close-link">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>

                    <div class="ibox-content">
                        <ul class="todo-list m-t small-list">
                          <h5>Username</h5>
                          <li><%=@customer.username%></li>
                          <h5>E-mail</h5>
                          <li><%=@customer.email%></li>
                          <h5>Created At</h5>
                          <li><%=@customer.created_at%></li>
                        </ul>
                    </div>
                    </div>
                </div>
            </div>
        </div>
      </div><!-- contentpanel -->
    <%=render "shared/footer"%>
    </div><!-- mainpanel -->
  </div><!-- mainwrapper -->
</section>
