
<%=render "shared/navbar"%>
<section>
  <div class="mainwrapper">
    <%=render "shared/left-panel"%>
      <div class="mainpanel">
        <div class="contentpanel">
          <section class="panel panel-default">
            <div class="weather-row">
              <div class="row wrapper border-bottom white-bg page-heading">
                  <div class="col-lg-8">
                      <h2>Invoice</h2>
                      <ol class="breadcrumb">
                          <li>
                              <a href="index.html">Home</a>
                          </li>
                          <li>
                              Other Pages
                          </li>
                          <li class="active">
                              <strong>Invoice</strong>
                          </li>
                      </ol>
                  </div>
                  <div class="col-lg-4">
                      <div class="title-action">
                          <a href="#" class="btn btn-white"><i class="fa fa-pencil"></i> Edit </a>
                          <a href="#" class="btn btn-white"><i class="fa fa-check "></i> Save </a>
                          <a href="invoice_print.html" target="_blank" class="btn btn-primary"><i class="fa fa-print"></i> Print Invoice </a>
                      </div>
                  </div>
              </div>
            </div>
          </section>
      <div class="row">
          <div class="col-lg-12">
              <div class="wrapper wrapper-content animated fadeInRight">
                  <div class="ibox-content p-xl">
                          <div class="row">
                              <div class="col-sm-6">

                                  <h5>From: Panhara Online Shop</h5>
                                  <address>
                                      #57ceo street 204<br>
                                      Phonm Penh<br>
                                      <abbr title="Phone">P:</abbr> +(855) 95477325
                                  </address>
                              </div>

                              <div class="col-sm-6 text-right">

                                      <span><strong>Invoice Date:</strong> <%=Time.now%></span><br/>
                                      <span><strong>Due Date:</strong> <%=Time.now%></span>
                                  </p>
                              </div>
                          </div>

                          <div class="table-responsive m-t">
                              <table class="table invoice-table">
                                  <thead>
                                  <tr>
                                    <%@fields.each do |f|%>
                                      <th><%=f%></th>
                                    <%end%>
                                  </tr>
                                  </thead>
                                  <tbody>
                                    <%if @order.state == "complete"%>
                                      <%@lineitems.each do |item|%>
                                        <tr>
                                            <td><%=item.product.product_name%></td>
                                            <td><%=item.product.category.category_name%></td>
                                            <td>$<%=item.product.product_price%></td>
                                        </tr>
                                      <%end%>
                                    <%else%>

                                    <%end%>
                                  </tbody>
                              </table>
                          </div><!-- /table-responsive -->

                          <table class="table invoice-total">
                              <tbody>
                              <tr>
                                  <td><strong>TOTAL :</strong></td>
                                  <%if @order.state == "complete"%>
                                    <td>$<%=@order.total_price%></td>
                                  <%else%>
                                    
                                  <%end%>
                              </tr>
                              </tbody>
                          </table>
                          <div class="text-right">
                              <button class="btn btn-primary"><i class="fa fa-dollar"></i> Make A Payment</button>
                          </div>

                          <div class="well m-t"><strong>Comments</strong>
                              It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less
                          </div>
                      </div>
              </div>
          </div>
      </div>
        </div><!-- contentpanel -->
      <%=render "shared/footer"%>
    </div><!-- mainpanel -->
  </div><!-- mainwrapper -->
</section>
