<%=render "shared/navbar"%>
<section>
  <div class="mainwrapper">
    <%=render "shared/left-panel"%>
      <div class="mainpanel">
        <div class="contentpanel">
          <div class="wrapper wrapper-content animated fadeInRight">
            <div class="row">
                <div class="col-md-8">
                  <div class="ibox float-e-margins">
                    <div class="ibox-title">
                      <%if @order.state == "complete"%>
                        <h5>Complete Order Detail</h5>
                      <%else%>
                        <h5>Incomplete Order Details</h5>
                      <%end%>

                        <div class="ibox-tools">
                          <%if @order.state == "complete"%>
                            <%=link_to invoice_path,:class=>"btn btn-primary" do%>
                              <i class="fa fa-dollar"></i> Make Report
                            <%end%>
                          <%else%>
                          
                          <%end%>
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="close-link">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>

                        <div class="ibox-content">
                            <table class="table table-hover no-margins">
                                <thead>
                                <tr>
                                  <%@fields.each do |f|%>
                                    <th><%=f%></th>
                                  <%end%>
                                </tr>
                                </thead>
                                <tbody>

                                <%@lineitems.each do |item|%>
                                  <tr>
                                    <td><%=item.product.product_name%></td>
                                    <%if item.order.state == "complete"%>
                                      <td><%=number_to_currency(item.price)%></td>
                                    <%else%>
                                      <td><%=number_to_currency(0.0)%></td>
                                    <%end%>
                                  </tr>
                                <%end%>
                                </tbody>
                                <tr>
                                  <%if @order.state == "complete"%>
                                    <td> <strong>Total: </strong> <%=number_to_currency(@order.total_price)%></td>
                                  <%else%>
                                    <td><%=number_to_currency(total_price_zero(0))%></td>
                                  <%end%>
                                </tr>
                            </table>
                        </div>

                    </div>
                </div>

                <div class="col-md-4">
                  <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Who Buy Your Product?</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="close-link">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>

                    <div class="ibox-content">
                        <ul class="todo-list m-t small-list">
                          <li>Username: <%=@order.customer.username%></li>
                          <li>Email: <%=@order.customer.email%></li>
                        </ul>
                    </div>
                    </div>
                </div>
            </div>
        </div>
      </div><!-- contentpanel -->
    <%=render "shared/footer"%>
    </div><!-- mainpanel -->
  </div><!-- mainwrapper -->
</section>
