<%=render "shared/end-user-nav-bar"%>
<section>
  <div class="mainwrapper">
    <%=render "shared/end-user-left-panel"%>
      <div class="mainpanel">
        <div class="contentpanel" style="background: #f3f3f4;">
          <section class="panel panel-default">
            <div class="panel-body weather-row" style="background: #394263;">
              <div class="row">
                <div class="col-lg-12 white-bg" style="background: #394263;">
                  <h2 class="product-title">All Products</h2>
                </div>
              </div>
            </div>
          </section>
          <br>
        <div class="wrapper wrapper-content animated fadeInRight">
          <div class="row">
            <%@products.each do |product|%>
            <div class="col-md-3">
                  <div class="ibox">
                      <div class="ibox-content product-box">
                          <div class="product-imitation">
                            <%if product.image.blank?%>
                              [No Image]
                            <%else%>
                              <%= image_tag(product.image,:class=>"product-image")%>
                            <%end%>
                          </div>
                          <div class="product-desc">
                              <span class="product-price">
                                  $<%=product.product_price%>
                              </span>
                              <small class="text-muted">Category: <%=product.category.category_name%></small>
                              <a href="#" class="product-name"> <%=product.product_name%></a>
                              <div class="small m-t-xs">
                                <%if product.category.description.blank?%>
                                  <p>No description</p>
                                <%else%>
                                  <p><%=product.category.description%></p>
                                <%end%>
                              </div>
                              <div class="m-t text-righ">
                                <%=link_to add_to_cart_path(product), :class=>"btn btn-xs btn-outline btn-primary" do%>
                                  Add Cart <i class="fa fa-long-arrow-right"></i>
                                <%end%>
                                  <%=link_to product_detail_path(product), :class=>"btn btn-xs btn-outline btn-primary" do%>
                                    Info <i class="fa fa-long-arrow-right"></i>
                                  <%end%>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <%end%>
          </div>
        </div>
      </div><!-- contentpanel -->
      <%=render "shared/end-user-footer"%>
    </div><!-- mainpanel -->
  </div><!-- mainwrapper -->
</section>
<script type="text/javascript">

  setTimeout(function() {
    toastr.options = {
      closeButton: true,
      progressBar: false,
      showMethod: 'slideDown',
      timeOut: 4000
    };
    toastr.success('Online Shop','Welcome To Panha');
  }, 1300);


</script>
