<%=render "shared/navbar"%>

<section>
  <div class="mainwrapper">
    <%=render "shared/left-panel"%>
      <div class="mainpanel">
        <div class="contentpanel">
          <div class="row row-stat">
            <%if @users.blank?%>
      				<div class="col-md-3">
                <div class="panel noborder">
                  <div class="panel-heading noborder">
                    <div class="panel-btns">
                      <a href="#" class="panel-close tooltips" data-toggle="tooltip" title="Close Panel"><i class="fa fa-times"></i></a>
                    </div><!-- panel-btns -->

                    <%=link_to new_user_path do%>
                      <div class="panel-icon icon-user"><i class="fa fa-user"></i></div>
                    <%end%>

                    <div class="media-body">
                      <h3 class="mt5">Add New User</h3>
                      <h5 class="md-title nomargin">Users</h5>
                    </div><!-- media-body -->

                  </div><!-- panel-body -->
                </div><!-- panel -->
              </div><!-- col-md-3 -->

            <%else%>
              <div class="col-md-3">
                <div class="panel noborder">
                  <div class="panel-heading noborder">
                    <div class="panel-btns">
                      <a href="#" class="panel-close tooltips" data-toggle="tooltip" title="Close Panel"><i class="fa fa-times"></i></a>
                    </div><!-- panel-btns -->

                    <%=link_to users_path do%>
                      <div class="panel-icon icon-user"><i class="fa fa-user"></i></div>
                    <%end%>

                    <div class="media-body">
                      <h1 class="mt5"><%=@usercount%></h1>
                      <h5 class="md-title nomargin">Users</h5>
                    </div><!-- media-body -->

                  </div><!-- panel-body -->
                </div><!-- panel -->
              </div><!-- col-md-3 -->

            <%end%>

              <%if @products.blank?%>
                <div class="col-md-3">
                  <div class="panel noborder">
                    <div class="panel-heading noborder">
                      <div class="panel-btns">
                        <a href="#" class="panel-close tooltips" data-toggle="tooltip" title="Close Panel"><i class="fa fa-times"></i></a>
                      </div><!-- panel-btns -->

                      <%=link_to new_product_path do %>
                        <div class="panel-icon icon-globe"><i class="fa fa-globe"></i></div>
                      <%end%>
                      <div class="media-body">
                        <h3 class="mt3">Product</h3>
                        <h5 class="md-title nomargin">Products</h5>
                      </div><!-- media-body -->
                    </div><!-- panel-body -->
                  </div><!-- panel -->
                </div><!-- col-md-3 -->
              <%else%>
                <div class="col-md-3">
                  <div class="panel noborder">
                    <div class="panel-heading noborder">
                      <div class="panel-btns">
                        <a href="#" class="panel-close tooltips" data-toggle="tooltip" title="Close Panel"><i class="fa fa-times"></i></a>
                      </div><!-- panel-btns -->

                      <%=link_to products_path do %>
                        <div class="panel-icon icon-globe"><i class="fa fa-globe"></i></div>
                      <%end%>

                      <div class="media-body">
                        <h1 class="mt5"><%=@productcount%></h1>
                        <h5 class="md-title nomargin">Products</h5>
                      </div><!-- media-body -->
                    </div><!-- panel-body -->
                  </div><!-- panel -->
                </div><!-- col-md-3 -->
              <%end%>

              <%if @orders.blank?%>
                <div class="col-md-3">
                  <div class="panel noborder">
                    <div class="panel-heading noborder">
                      <div class="panel-btns">
                          <a href="#" class="panel-close tooltips" data-toggle="tooltip" title="Close Panel"><i class="fa fa-times"></i></a>
                      </div><!-- panel-btns -->

                        <div class="panel-icon icon-envelope"><i class="fa fa-envelope"></i></div>


                      <div class="media-body">
                          <h3 class="mt5">No Order</h3>
                          <h5 class="md-title nomargin">Order</h5>
                      </div><!-- media-body -->
                    </div><!-- panel-body -->
                  </div><!-- panel -->
                </div><!-- col-md-3 -->
              <%else%>
                <div class="col-md-3">
                  <div class="panel noborder">
                    <div class="panel-heading noborder">
                      <div class="panel-btns">
                          <a href="#" class="panel-close tooltips" data-toggle="tooltip" title="Close Panel"><i class="fa fa-times"></i></a>
                      </div><!-- panel-btns -->
                      <%=link_to orders_path do%>
                        <div class="panel-icon icon-envelope"><i class="fa fa-envelope"></i></div>
                      <%end%>
                      <div class="media-body">
                          <h1 class="mt5"><%=@ordercount%></h1>
                          <h5 class="md-title nomargin">Order</h5>
                      </div><!-- media-body -->
                    </div><!-- panel-body -->
                  </div><!-- panel -->
                </div><!-- col-md-3 -->

              <%end%>
              <%if @customers.blank?%>
              <div class="col-md-3">
                <div class="panel noborder">
                  <div class="panel-heading noborder">
                    <div class="panel-btns">
                        <a href="#" class="panel-close tooltips" data-toggle="tooltip" title="Close Panel"><i class="fa fa-times"></i></a>
                    </div><!-- panel-btns -->

                      <div class="panel-icon icon-envelope"><i class="fa fa-envelope"></i></div>


                    <div class="media-body">
                        <h3 class="mt5">Customer</h3>
                        <h5 class="md-title nomargin">Order</h5>
                    </div><!-- media-body -->
                  </div><!-- panel-body -->
                </div><!-- panel -->
              </div><!-- col-md-3 -->
                <%else%>
                  <div class="col-md-3">
                    <div class="panel noborder">
                      <div class="panel-heading noborder">
                        <div class="panel-btns">
                            <a href="#" class="panel-close tooltips" data-toggle="tooltip" title="Close Panel"><i class="fa fa-times"></i></a>
                        </div><!-- panel-btns -->
                        <%=link_to customers_path do%>
                          <div class="panel-icon icon-gavel"><i class="fa fa-gavel"></i></div>
                        <%end%>
                        <div class="media-body">
                          <h1 class="mt5"><%=@customercount%></h1>
                				  <h5 class="md-title nomargin">Customers</h5>
                        </div><!-- media-body -->
                      </div><!-- panel-body -->
                    </div><!-- panel -->
                  </div><!-- col-md-3 -->
              <%end%>

            </div><!-- row -->

            <div class="row">

      				<div class="col-md-8">
      					<section class="panel panel-default">
      						<div class="panel-body weather-row">
      							<img src="/weather_image.jpg" height="243" alt="">
      							<div class="weather-head">
      								weather forecast
      							</div>
      							<div class="form-group country-select">
      								<select class="width100p" data-placeholder="New York">
      									<option value="">New York</option>
      									<option value="">London</option>
      									<option value="">Australia</option>
      									<option value="">Canada</option>
      									<option value="">China</option>
      									<option value="">New York</option>
      								</select>
      							</div>
      						</div>

      				<div class="panel-footer">
      					<div class="row weather-full-info">
      						<div class="col-md-3 today-status">
      							<h1>Today</h1>
      							<span class="wi wi-day-cloudy"></span>
      							<div class="degree">37</div>
      						</div>
      						<div class="col-md-9">
      							<ul>
      								<li>
      									<h2>Tomorrow</h2>
      									<span class="wi wi-day-cloudy text-primary"></span>
      									<div class="statistics">32</div>
      								</li>
      								<li>
      									<h2>Mon</h2>
      									<span class="wi wi-day-cloudy text-danger"></span>
      									<div class="statistics">40</div>
      								</li>
      								<li>
      									<h2>Tue</h2>
      									<span class="wi wi-day-cloudy text-info"></span>
      									<div class="statistics">25</div>
      								</li>
      								<li>
      									<h2>Wed</h2>
      									<span class="wi wi-day-cloudy text-success"></span>
      									<div class="statistics">37</div>
      								</li>
      								<li>
      									<h2>Thu</h2>
      									<span class="wi wi-day-cloudy text-warning"></span>
      									<div class="statistics">15</div>
      								</li>
      								<li>
      									<h2>Fri</h2>
      									<span class="wi wi-day-cloudy"></span>
      									<div class="statistics">21</div>
      								</li>
      							</ul>
      						</div>
      					</div>
      				</div>
      			</section>
      		</div>

      		<div class="col-md-4">
      			<section class="panel panel-default">
      				<div class="clock-panel">
      					<h1>DECEMBER 16</h1>
      					<p class="text-left">2016, Friday</p>
      					<p class="text-left">7:53 PM</p>
      				</div>

      				<ul id="clock">
      					<li id="sec"></li>
      					<li id="hour"></li>
      					<li id="min"></li>
      				</ul>

      				<ul class="clock-category">
      					<li>
      						<a href="#" class="active">
      							<i class="fa fa-clock-o"></i>
      							<span>Clock</span>
      						</a>
      					</li>
      					<li>
      						<a href="#">
      							<i class="fa fa-clock-o"></i>
      							<span>Alarm</span>
      						</a>
      					</li>
      					<li>
      						<a href="#">
      							<i class="fa fa-clock-o"></i>
      							<span>Stop watch</span>
      						</a>
      					</li>
      					<li>
      						<a href="#">
      							<i class="fa fa-clock-o"></i>
      							<span>Timer</span>
      						</a>
      					</li>
      				</ul>
      			</section>
      		</div>
      	</div>
        <div class="row">
          <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-body padding15">
                  <h5 class="md-title mt0 mb10">Site Statistics</h5>
                  <div id="basicFlotLegend" class="flotLegend"></div>
                  <div id="basicflot" class="flotChart"></div>
                </div><!-- panel-body -->

                <div class="panel-footer">
                  <div class="tinystat pull-left">
                    <div id="sparkline" class="chart mt5"></div>
                      <div class="datainfo">
                        <span class="text-muted">Average</span>
                        <h4>$9,201</h4>
                      </div>
                  </div><!-- tinystat -->

                  <div class="tinystat pull-right">
                    <div id="sparkline2" class="chart mt5"></div>
                      <div class="datainfo">
                        <span class="text-muted">Total</span>
                        <h4>$8,201</h4>
                      </div>
                  </div><!-- tinystat -->
                </div><!-- panel-footer -->
            </div><!-- panel -->
          </div>

          <div class="col-md-4">
              <div class="panel panel-default">
                  <div class="panel-body padding15">
                      <h5 class="md-title mt0 mb10">Site Visitors</h5>
                      <div id="basicFlotLegend2" class="flotLegend"></div>
                      <div id="basicflot2" class="flotChart"></div>
                  </div><!-- panel-body -->
                  <div class="panel-footer">
                      <div class="tinystat pull-left">
                          <div id="sparkline3" class="chart mt5"></div>
                          <div class="datainfo">
                              <span class="text-muted">Average</span>
                              <h4>52,201</h4>
                          </div>
                      </div><!-- tinystat -->
                      <div class="tinystat pull-right">
                          <div id="sparkline4" class="chart mt5"></div>
                          <div class="datainfo">
                              <span class="text-muted">Total</span>
                              <h4>11,201</h4>
                          </div>
                      </div><!-- tinystat -->
                  </div><!-- panel-footer -->
              </div><!-- panel -->
          </div>

          <div class="col-md-4">
              <div class="panel panel-default">
                  <div class="panel-body padding15">
                      <h5 class="md-title mt0 mb10">Site Impressions</h5>
                      <div id="basicFlotLegend3" class="flotLegend"></div>
                      <div id="basicflot3" class="flotChart"></div>
                  </div><!-- panel-body -->
                  <div class="panel-footer">
                      <div class="tinystat pull-left">
                          <div id="sparkline5" class="chart mt5"></div>
                          <div class="datainfo">
                              <span class="text-muted">Average</span>
                              <h4>37,101</h4>
                          </div>
                      </div><!-- tinystat -->
                      <div class="tinystat pull-right">
                          <div id="sparkline6" class="chart mt5"></div>
                          <div class="datainfo">
                              <span class="text-muted">Total</span>
                              <h4>18,899</h4>
                          </div>
                      </div><!-- tinystat -->
                  </div><!-- panel-footer -->
              </div><!-- panel -->
          </div>
        </div><!-- row -->
      </div><!-- contentpanel -->

      <%=render "shared/footer"%>
    </div><!-- mainpanel -->
  </div><!-- mainwrapper -->
</section>
