// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.product-title{
  font-family: Montserrat;
  color: white;
  margin-top: 0px;
  margin-bottom: 0px;
}
