<%=render "shared/navbar"%>
<section>
  <div class="mainwrapper">
    <%=render "shared/left-panel"%>
      <div class="mainpanel">
        <div class="contentpanel">
          <section class="panel panel-default">
            <div class="panel-body weather-row">
              <div class="row" style="background:#fff;padding:10px;-moz-border-radius: 3px;-webkit-border-radius: 3px;border-radius: 3px;margin-bottom:15px;">
                <div class="col-md-12">
                  <h5 class="lg-title mb5">Product</h5>
                  <p class="mb20">An example of table with actions in every rows.</p>
                  <div class="table-responsive">
                    <table class="table mb30">
                      <thead>
                        <tr>
                          <%@fields.each do |f|%>
                            <th><%=f%></th>
                          <%end%>
                        </tr>
                      </thead>
                      <%@categories.each do |category|%>
                      <tbody>
                        <tr>
                          <td><%=category.id - 1%></td>
                          <td><%=category.category_name %></td>
                          <td><%=category.description%></td>
                          <td><%=category.user.username%></td>
                          <td><%=category.user.role%></td>
                          <td><%=category.created_at%></td>
                          <td><%=category.updated_at%></td>
                          <td class="td-actions text-right">
                                                <!-- <a href="#" rel="tooltip" title="Edit Profile" class="btn btn-success btn-simple btn-xs">
                                                    <i class="fa fa-pencil" style="font-size: 15px;"></i>
                                                </a> -->
                          <% if current_user.try(:admin?) %>
                            <%= link_to category_path(category), :class => 'btn btn-success btn-simple btn-xs',:rel=>"tooltip",:title=>"View" do %>
                              <i class="fa fa-eye" style="font-size: 15px;color:white;"></i>
                            <% end %>

                            <%= link_to edit_category_path(category.id), :class => 'btn btn-success btn-simple btn-xs',:rel=>"tooltip",:title=>"Edit" do %>
                              <i class="fa fa-pencil" style="font-size: 15px;"></i>
                            <% end %>

                            <%= link_to category,method: :delete,data: {confirm: "Are You Sure?"}, :class => 'btn btn-danger btn-simple btn-xs',:rel=>"tooltip",:title=>"Delete" do %>
                              <i class="fa fa-trash-o" style="font-size: 15px;"></i>
                            <% end %>
                          <%else%>
                            <%= link_to category_path(category), :class => 'btn btn-success btn-simple btn-xs',:rel=>"tooltip",:title=>"View" do %>
                              <i class="fa fa-eye" style="font-size: 15px;"></i>
                            <% end %>
                          <%end%>
                        </td>
                      </tr>
                    </tbody>
                  <%end%>
                </table>
              </div><!-- table-responsive -->
            </div><!-- col-md-6 -->
          </div>
        </div>
    </section>
          <div class="row">
      			<div class="col-md-8">
      				<section class="panel panel-default">
      					<div class="panel-body weather-row">
      							<img src="/weather_image.jpg" height="243" alt="">
      							<div class="weather-head">
      								weather forecast
      							</div>
      							<div class="form-group country-select">
      								<select class="width100p" data-placeholder="New York">
      									<option value="">New York</option>
      									<option value="">London</option>
      									<option value="">Australia</option>
      									<option value="">Canada</option>
      									<option value="">China</option>
      									<option value="">New York</option>
      								</select>
      							</div>
      						</div>

      				<div class="panel-footer">
      					<div class="row weather-full-info">
      						<div class="col-md-3 today-status">
      							<h1>Today</h1>
      							<span class="wi wi-day-cloudy"></span>
      							<div class="degree">37</div>
      						</div>
      						<div class="col-md-9">
      							<ul>
      								<li>
      									<h2>Tomorrow</h2>
      									<span class="wi wi-day-cloudy text-primary"></span>
      									<div class="statistics">32</div>
      								</li>
      								<li>
      									<h2>Mon</h2>
      									<span class="wi wi-day-cloudy text-danger"></span>
      									<div class="statistics">40</div>
      								</li>
      								<li>
      									<h2>Tue</h2>
      									<span class="wi wi-day-cloudy text-info"></span>
      									<div class="statistics">25</div>
      								</li>
      								<li>
      									<h2>Wed</h2>
      									<span class="wi wi-day-cloudy text-success"></span>
      									<div class="statistics">37</div>
      								</li>
      								<li>
      									<h2>Thu</h2>
      									<span class="wi wi-day-cloudy text-warning"></span>
      									<div class="statistics">15</div>
      								</li>
      								<li>
      									<h2>Fri</h2>
      									<span class="wi wi-day-cloudy"></span>
      									<div class="statistics">21</div>
      								</li>
      							</ul>
      						</div>
      					</div>
      				</div>
      			</section>
      		</div>

      		<div class="col-md-4">
      			<section class="panel panel-default">
      				<div class="clock-panel">
      					<h1>DECEMBER 16</h1>
      					<p class="text-left">2016, Friday</p>
      					<p class="text-left">7:53 PM</p>
      				</div>

      				<ul id="clock">
      					<li id="sec"></li>
      					<li id="hour"></li>
      					<li id="min"></li>
      				</ul>

      				<ul class="clock-category">
      					<li>
      						<a href="#" class="active">
      							<i class="fa fa-clock-o"></i>
      							<span>Clock</span>
      						</a>
      					</li>
      					<li>
      						<a href="#">
      							<i class="fa fa-clock-o"></i>
      							<span>Alarm</span>
      						</a>
      					</li>
      					<li>
      						<a href="#">
      							<i class="fa fa-clock-o"></i>
      							<span>Stop watch</span>
      						</a>
      					</li>
      					<li>
      						<a href="#">
      							<i class="fa fa-clock-o"></i>
      							<span>Timer</span>
      						</a>
      					</li>
      				</ul>
      			</section>
      		</div>
      	</div>

      </div><!-- contentpanel -->

      <%=render "shared/footer"%>
    </div><!-- mainpanel -->
  </div><!-- mainwrapper -->
</section>
