<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%=render "shared/google-font/font"%>
    <title>Administrator</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all'%>
  </head>

  <body class="signin">
    <%= yield %>
    <%=javascript_include_tag 'application'%>
  </body>
</html>
